@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  background-color: lightblue;
  color: #060824;
  font-family: monospace;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.roadmap {
  font-size: 3rem;
  font-family: "Caveat";
}

.info {
  padding-top: 1.5rem;
  font-size: 1rem;
}

body {
  height: 200vh;
}

.post-btn {
  padding: 1rem;
  font-size: 1rem;
  background-color: lightgreen;
  margin-top: 1rem;
  width: 10%;
  min-width: fit-content;
}

.main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.default-resource {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  margin: 2rem;
  padding: 2rem;
  background-color: lightblue;
  font-size: 1.5rem;
}

/* Colors -  */
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

/* Font size - */
.large {
  font-size: 2rem;
}
.medium {
  font-size: 1.5rem;
}
.small {
  font-size: 1rem;
}
