@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

*::selection {
  background-color: white;
  color: black;
}

* {
  margin: 0;
}

body {
  font-family: "Balsamiq Sans", sans;
}

header {
  display: flex;
  background-color: #03120e;
  color: white;
  font-family: monospace;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.roadmap {
  font-size: 5rem;
  font-family: "Caveat";
}

header::selection {
  background-color: red;
  color: yellow;
}

.info {
  padding-top: 1.5rem;
  font-size: 1.1rem;
}

.main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.default-resource {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #26413c;
  color: white;
}

.default-resource-info {
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: min-content;
  margin: 0.3rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 3px solid black;
  background-color: #3e505b;
  color: white;
  border-radius: 1rem;
}

/* Colors - */
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.lightblue {
  background-color: lightblue;
}
.lightgreen {
  background-color: lightgreen;
}

/* Font sizes - */
.large {
  font-size: 2rem;
}
.medium {
  font-size: 1.5rem;
}
.small {
  font-size: 1.1rem;
}
